@import '_variables.scss';
@import '_fonts.scss';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  transition: outline-offset .1s ease-in-out;
}

a:focus {
  outline: 1px solid $colorAccent;
  outline-offset: 10px;
}

img {
  max-width: 100%;
}

.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  min-width: 320px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: $colorWhite;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-auto-rows: min-content;
  gap: $gridGutter;
  min-width: 320px;
  max-width: $containerMaxWidth + ($containerPadding * 2);
  min-height: 100%;
  padding: 0 $containerPadding;
  margin: 0 auto;
}

.section-title {
  padding: 0;
  margin: 0;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.btn {
  display: inline-block;
  max-width: max-content;
  padding: 12px 19px;
  border: 3px solid $colorAccent;
  background-color: $colorAccent;
  border-radius: 0;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: $colorWhite;
  transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
}

.btn:focus {
  border-color: $colorDeepAccent;
  outline: none;
}

.btn:hover {
  background-color: $colorDarkAccent;
  border-color: $colorDarkAccent;
}

.btn:focus {
  background-color: $colorDeepAccent;
  border-color: $colorDeepAccent;
}

.hashtag {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 7px 15px;
  background-color: $colorBlack;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $colorWhite;
}

.stop-scroll {
  overflow: hidden;
}
